.btnBlue{
	background-color: #547db0;
	color: white;
}

.btnGreen{
	background-color: #54b072;
	color: white;
}

.btnRed{
	background-color: #b05454;
	color: white;
}

.btnWhite{
	background-color: white;
	color: #b05454;
}
.line-separator{
    margin: 15px;
    height: 2px;
    border-left: 1px solid #313030;
    background: linear-gradient(to right, #797979 , white);
}
