.btnBlue{
	background-color: #547db0;
	color: white;
	border-color: #ffffff00;
}

.btnGreen{
	background-color: #54b072;
	color: white;
	border-color: #ffffff00;
}

.btnRed{
	background-color: #b05454;
	color: white;
	border-color: #ffffff00;
}

.btnWhite{
	background-color: white;
	color: #547db0;
	border-color: #ffffff00;
}

.btnRetour{
	background-color: #ffffff00;
	border-color: #ffffff00;
}

.lblTitre{
	font-size: 150%;
}

.container{
	height: 100%;
	border-style: solid;
	border-color: gray;
	border-bottom-width: 1px;
	margin-top: 30px;	
	margin-bottom: 30px;
}
