<!DOCTYPE html>
<html lang="en">
<head>
	<title>Accueil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Datatable JS-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
	<!-- Custom CSS pour index -->
	<link href="stylesheets/style.css" rel="stylesheet">
    <!--Datatable CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">


</head>
    
    <script>
        $(document).ready( function () {
            $('#table_Clients').DataTable();
            $('#table_Client').DataTable();
        } );
    </script>
<body>
<div id="body">
	<div class="ensemble">
	    <div id="listeClient">
        <!--Header-->
        <div class="col-sm-12 text-left headerBio">
            <div class="col-sm-4 text-left"> 
            <label class="lblTitre" >Liste Client</label>
            </div>
            <br style="clear:both;">
            <!--Ligne-->
            <div class="col-sm-12 text-left line-separator"></div>
        </div>
			<!--Buttons-->
			<div class="col-sm-6 text-left">
				<button class="selected">Information G&eacute;n&eacute;rale</button>
				<button class="red">Ins&eacute;rer</button>
			</div>
			<div class="col-sm-6 text-right">
				<button class="green">Synchronisation</button>
			</div>
            
            <div class="col-sm-12">
                <!--contenue selon selection-->
                <div id="contenuListeClients">
                    <table id="table_Clients" class="display">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Date de naissance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lefevre</td>
                                <td>Bob</td>
                                <td>1960-05-31</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
		</div>
		
		<div id="infoClient">
			<div class="col-sm-12 text-left headerBio">
				<div>
					<a href="#">&lt;- Retour</a>
				</div>
				<div class="col-sm-2 text-left"> 
					<label class="lblTitre" >Information Biomedical</label>
				</div>
				<div class="col-sm-10 text-left"> 
					<div class="col-sm-4 text-left"> 
						Prénom: <label id="lblPrenom">exemplePrenom</label>
					</div>
					<div class="col-sm-4 text-center"> 
						Nom de famille: <label id="lblNomDeFamille">exempleFamille</label>
					</div>
					<div div class="col-sm-4 text-right"> 
						Date de naissance: <label id="lblDateDeNaissance">01-09-1970</label>
					</div>
				</div>

			<!--Ligne-->
                <div class="col-sm-12 text-left line-separator"></div>
            </div>
            <div class="col-sm-8 text-left navMenu">
                <button class="selected">Information Générale</button>
                <button>Graphiques</button>
                <button>Rapports</button>
            </div>
            <div class="col-sm-4 text-right">
                <button class="red">Modifier les informations</button>
            </div>
            <div class="col-sm-12">
                <!--contenue selon selection-->
                <div id="contenuInfoClient" >
                    <table id="table_Client" class="display">
                        <thead>
                            <tr>
                                <th>Date de prise du test</th>
                                <th>Pression Systolique</th>
                                <th>Pression Diasystolique</th>
                                <th>Pouls Cardiaque</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1970-01-01</td>
                                <td>200</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>2018-03-15</td>
                                <td>200</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
        
        
	</div>
</div>
</body>