<!DOCTYPE html>
<html lang="en">
<head>
	<title>Accueil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div id="body">
	<div class="ensemble">
	    <div id="listeClient">
            <!--Header-->
            <div class="col-sm-12 text-left headerBio">
                <div class="col-sm-4 text-left"> 
                <span class="lblTitre" >Liste Client</span>
                </div>
                <br style="clear:both;">
                <!--Ligne-->
                <div class="col-sm-12 text-left line-separator"></div>
            </div>
			<!--Buttons-->
			<div class="col-sm-6 text-left">
				<button class="selected">Information G&eacute;n&eacute;rale</button>
                <button class="red">Ins&eacute;rer</button>
                <input type="text" class="searchbox" placeholder="Recherche">
			</div>
			<div class="col-sm-6 text-right">
				<button class="green">Synchronisation</button>
            </div>
            
            <div class="col-sm-12" style="position: absolute; top: 90px; left: 0px; bottom: 30px;">
                <!--contenue selon selection-->
                <div id="contenuListeClients" style="width: 100%;height: 100%;">
                    <table id="table_Clients" class="display">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Date de naissance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="bitch">
                                <td>1</td>
                                <td>Lefevre</td>
                                <td>Bob</td>
                                <td>1960-05-31</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lebrun</td>
                                <td>Jamie</td>
                                <td>1983-09-11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
		</div>
		
		<div id="infoClient">
			<div class="col-sm-12 text-left headerBio">
				<div>
					<a href="#">&lt;- Retour</a>
				</div>
				<div class="col-sm-2 text-left"> 
					<span class="lblTitre" >Information Biomedical</span>
                </div>
				<div class="col-sm-10 text-left"> 
					<div class="col-sm-4 text-left"> 
						Prénom: <span id="lblPrenom">exemplePrenom</span>
					</div>
					<div class="col-sm-4 text-center"> 
						Nom de famille: <span id="lblNomDeFamille">exempleFamille</span>
					</div>
					<div div class="col-sm-4 text-right"> 
						Date de naissance: <span id="lblDateDeNaissance">01-09-1970</span>
					</div>
				</div>

			<!--Ligne-->
                <div class="col-sm-12 text-left line-separator"></div>
            </div>
            <div class="col-sm-8 text-left navMenu">
                <button class="selected">Information Générale</button>
                <button>Graphiques</button>
                <button>Rapports</button>
            </div>
            <div class="col-sm-4 text-right">
                <button class="red">Modifier les informations</button>
            </div>
            <div class="col-sm-12">
                <!--contenue selon selection-->
                <div id="contenuInfoClient" >
                    <table id="table_Client" class="display">
                        <thead>
                            <tr>
                                <th>Date de prise du test</th>
                                <th>Pression Systolique</th>
                                <th>Pression Diasystolique</th>
                                <th>Pouls Cardiaque</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- donnees exemplaire -->
                            <tr>
                                <td>1970-01-01</td>
                                <td>200</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>2018-03-15</td>
                                <td>200</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
        
        
	</div>
</div>
<div id="mask"></div>
<div id="modal">
    <div id="login" class="modalCustom">
        <label class="lblConnextion" >Connexion</label>
        <form>
            <div class="containerlogin col-sm-12 text-left">
                    <input class="modalInput" type="text" id="nomDUtilisateur" placeholder="Nom d'utilisateur">
            </div>
            <div class="containerlogin col-sm-12 text-left">
                    <input class="modalInput" type="text" id="motDePasse" placeholder="Mot de passe">
            </div>
            <div class="containerloginBouttonLeft col-sm-6 text-left">
                    <button class="green modalbutton connexionBtn" onclick="login()">Connexion</button>
            </div>
            <div class="containerloginBouttonRight col-sm-6 text-left">
                    <button class="red modalbutton" onclick="">GTFO</button>
            </div>
        </form>
        <p>
                L’accès à cette page est strictement reservé au personnel de cette entreprise.
                Si vous n'êtes pas un employé(e), veuillez quitter cette page à l'instant.
        </p>

    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="/javascripts/app.js"></script>
</html>